{% extends 'base.html.twig' %}

{% block title %}Машины{% endblock %}

{% block body %}
    <h1>Buy</h1>

    <tr>{{ eror }}</tr>
    <br>


    <a href="{{ path('app_shop') }}">Вернуться</a>
{% endblock %}